# =============================================================================
# ARMOR-UPDATER - Environment variable template
# Copyright (C) 2026 JuanenRac (Electro Hobby 3D) <electrohobby3d@gmail.com>
# GPL-3.0 - see LICENSE
# This Python client does not auto-load .env: export the token through systemd,
# Docker or the invoking shell. REQUIRED for remote discovery/install/update:
# every A.R.M.O.R. repository is private, so there is no unauthenticated
# fallback. Use a fine-grained personal access token with read-only access
# to this account's ARMOR-* repositories - nothing more.
# Never put a real token in this example or commit a local .env file.

GITHUB_TOKEN=
